@using MyNotes.Data.Models
@model List<Note>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Notes List</title>
</head>
<body>
    @ViewBag.Result
</body>
</html>